@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$border-radius: 10px !default;

:root {
  --theme-magenta: #d71061;
  --theme-red:#9a000f;
  --theme-clay: #e35940;
  --theme-yellow:#f9a71f;
  --theme-blue: #1eadc1;
}

body, p {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6em;
  font-weight: 400;
}

#tbt {
  .title-font,
  .text-hero,
  .text-title,
  .text-subtitle {
    font-family: "Raleway", Arial, sans-serif;
    line-height: 1.2em;
    font-weight: 700;
  }

  .btn {
    color: #fff;
    background-color: var(--theme-red);
    border: 3px solid #fff;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 40px;

    &:hover {
      background-color: #fff;
      border-color: var(--theme-red);
      color: var(--theme-red);
    }
  }
}