@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
.btn {
  display: inline-block;
  border: 1px solid #333;
  padding: 10px 25px;
}

.btn:first-of-type {
  margin-left: 0;
}

.text-overline {
  background-color: #ddd;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  display: inline-block;
  padding: 0px 15px;
}

/***************************
******* FLEX SETTINGS ******
****************************/
.flex, .flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-top-right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-top-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-bottom-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-bottom-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-50 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 50%;
}

.flex-33 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}

.flex-66 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.6666%;
          flex: 1 1 66.6666%;
}

.flex-25 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.flex-75 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .flex-reverse, .flex-reverse-mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flex-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-top-right,
  .flex-top-left,
  .flex-bottom-right,
  .flex-bottom-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-50,
  .flex-33,
  .flex-66,
  .flex-25,
  .flex-75 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 479px) {
  .flex-50,
  .flex-33,
  .flex-66,
  .flex-25,
  .flex-75 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

/***************************
*********** GRID ***********
****************************/
.grid {
  display: -ms-grid;
  display: grid;
}

.grid.gap-20 {
  gap: 20px;
}

.grid.gap-40 {
  gap: 40px;
}

.grid.gap-60 {
  gap: 60px;
}

.grid.gap-80 {
  gap: 80px;
}

.grid-auto {
  -ms-grid-columns: (minmax(calc(50% - 20px), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2-1 {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.grid-3-1 {
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.grid-1-2 {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.grid-3-1 {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

@media (max-width: 767px) {
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-2-1,
  .grid-3-1,
  .grid-1-2,
  .grid-3-1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 479px) {
  .grid-auto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-2-1,
  .grid-3-1,
  .grid-1-2,
  .grid-3-1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/***************************
********** PADDING *********
****************************/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/***************************
********** PADDING *********
****************************/
.p-xlarge {
  padding: 10em;
}

.p-large {
  padding: 6em;
}

.p-med {
  padding: 4em;
}

.p-small {
  padding: 2em;
}

@media (max-width: 767px) {
  .p-xlarge,
  .p-large,
  .p-med,
  .p-small {
    padding: 2em;
  }
}

@media (max-width: 479px) {
  .p-xlarge,
  .p-large,
  .p-med,
  .p-small {
    padding: 20px;
  }
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.btn {
  margin-top: 0px;
  margin-bottom: 10px;
}

.text-hero,
.text-title,
.text-subtitle {
  font-family: "Barlow", Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 300;
}

.text-hero {
  font-size: 7rem;
}

.text-title {
  font-size: 3.8rem;
}

.text-subtitle {
  font-size: 2rem;
}

.text-main {
  font-size: 16px;
}

.text-overline {
  font-size: 13px;
}

.text-caption {
  font-size: 13px;
}

@media (max-width: 768px) {
  .text-hero {
    font-size: 3.4rem;
  }
  .text-title {
    font-size: 2.2rem;
  }
  .text-subtitle {
    font-size: 1.6rem;
  }
}

.test {
  border: 2px solid red;
}

.hero-1 {
  height: 500px;
  overflow: hidden;
}

.hero-1 .container {
  height: 100%;
}

.hero-1 .content-wrapper {
  background-color: #fff;
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
}

.hero-2 .container {
  height: 100%;
}

.hero-2 .image-con {
  height: 350px;
}

.hero-2 .content-con {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -100px;
}

.hero-2 .content-wrapper {
  background-color: #fff;
  max-width: 700px;
}

@media (max-width: 767px) {
  .hero-2 .image-con {
    height: 250px;
  }
  .hero-2 .content-con {
    margin-top: -50px;
  }
}

.hero-3 {
  height: 500px;
}

.hero-3 .container {
  height: 100%;
}

.hero-3 .col {
  height: auto;
}

.hero-3 .content {
  max-width: 300px;
}

.hero-3 .content-con, .hero-3 .image-con {
  min-height: 250px;
}

@media (max-width: 767px) {
  .hero-3 {
    height: auto;
    min-height: 500px;
  }
}

.hero-4 {
  height: 500px;
}

.hero-4 .container {
  height: 100%;
}

.hero-4 .clip-right {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
}

.hero-4 .clip-left {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero-4 .flex-reverse .clip-right {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
}

.hero-4 .flex-reverse .clip-left {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.hero-4 .content-wrapper {
  max-width: 300px;
}

.hero-4 .content-con {
  min-height: 150px;
}

@media (max-width: 767px) {
  .hero-4 {
    height: auto;
  }
  .hero-4 .image-con {
    min-height: 250px;
  }
  .hero-4 .content-con {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 3em 0 4em;
  }
  .hero-4 .clip-right,
  .hero-4 .clip-left {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%) !important;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%) !important;
  }
}

.hero-5 {
  height: 400px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.hero-5 .container {
  height: 100%;
}

.hero-5 .col {
  height: auto;
}

.hero-5 .offset-image {
  position: absolute;
  top: -35%;
  left: 0;
  width: 100%;
  height: 150%;
  text-align: center;
}

.hero-5 .offset-image img {
  height: 100%;
}

@media (max-width: 767px) {
  .hero-5 .offset-image {
    height: 200%;
  }
}

.hero-6 {
  height: 500px;
}

.hero-6 .container {
  height: 100%;
}

.hero-6 .content-con {
  height: 100%;
}

.hero-6 .bgimage {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .hero-6 {
    height: auto;
  }
  .hero-6 .content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em;
  }
  .hero-6 figure img {
    max-height: 300px;
  }
}

.slick-slide,
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.splide__arrow {
  height: 4em;
  width: 4em;
  border-radius: 0;
}

.slider-1 .container {
  height: 300px;
}

.slider-1 .content-wrapper {
  background-color: #fff;
  padding: 1em;
  width: 50%;
}

.slider-1 .splide__slide {
  border: 1px solid red;
}

.slider-content .container {
  height: 500px;
}

.slider-content .content-wrapper {
  background-color: #fff;
  padding: 1em;
  height: 100%;
}

.slider-content .splide__slide {
  border: 1px solid red;
}

.testimonial-1 > .container {
  padding: 0 80px;
}

.testimonial-1 .splide .container {
  height: 300px;
  padding: 0 2em;
}

.testimonial-1 .content-wrapper {
  background-color: #fff;
  padding: 1em;
  width: 100%;
}

.testimonial-1 .splide__slide {
  border: 1px solid red;
}

.testimonial-1 .splide__arrow--prev {
  left: -60px;
}

.testimonial-1 .splide__arrow--next {
  right: -60px;
}

.block-1 {
  height: 700px;
  overflow: hidden;
}

.block-1 .content-wrapper .col {
  text-align: center;
  padding: 40px 20px;
}

.block-1 .content-wrapper .icon {
  margin: auto;
  width: 50px;
}

@media (max-width: 767px) {
  .block-1 {
    height: auto;
  }
  .block-1 .image-con {
    width: 250px;
    margin: auto;
  }
  .block-1 .content-wrapper .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    min-width: 50%;
  }
}

.block-2 {
  overflow: hidden;
}

.block-2 .content-wrapper {
  max-width: 600px;
}

.block-2 .content-wrapper .col {
  text-align: center;
  padding: 40px 20px;
}

.block-2 .content-wrapper .icon {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.block-2 .content-wrapper .icon img {
  width: 100%;
}

@media (max-width: 767px) {
  .block-1 {
    height: auto;
  }
  .block-1 .image-con {
    width: 250px;
    margin: auto;
  }
  .block-1 .content-wrapper .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    min-width: 50%;
  }
}

.block-3 .col {
  border: 1px solid red;
  padding-top: 12em;
  background: transparent -webkit-gradient(linear, left bottom, left top, from(#262C96), to(#26268B00)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(0deg, #262C96 0%, #26268B00 100%) 0% 0% no-repeat padding-box;
}

.block-3 .bgimage {
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.block-3 .caption {
  color: #FFC600;
}

.block-3 .block-title {
  color: #fff;
}

.card-1 .product-card-1 {
  text-align: center;
}

.card-1 .product-card-1 figure {
  height: auto;
}

.card-1 .product-card-1 .product-name,
.card-1 .product-card-1 .product-pricing {
  margin-bottom: 10px;
}

.card-1 .product-card-1 .product-name.onsale .regular-price,
.card-1 .product-card-1 .product-pricing.onsale .regular-price {
  text-decoration: line-through;
  font-size: 13px;
}

.card-1 .product-card-1 .sale-price {
  margin-left: 5px;
}

.card-1 .col {
  border: 1px solid salmon;
  padding: 10px;
}

.bg-ticker .container {
  height: 150px;
  position: relative;
  background-image: url(/img/halftone-yellow.png);
}

.bg-ticker .container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-image: url(/img/bgticker.png);
  background-repeat: repeat-x;
  background-position: center center;
  -webkit-animation: animatedBackground 500s linear infinite;
          animation: animatedBackground 500s linear infinite;
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 center;
  }
  /* -x right to left, x = left to right */
  to {
    background-position: -10000px center;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 center;
  }
  /* -x right to left, x = left to right */
  to {
    background-position: -10000px center;
  }
}

.nav-1 {
  padding: 10px;
  background-color: palegoldenrod;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
}

.nav-1 > * {
  border: 1px solid red;
}

.nav-1 .logo {
  height: 70px;
  text-align: left;
}

.nav-1 .logo img {
  max-height: 100%;
}

.section,
.container,
.col {
  position: relative;
}

.container,
.col,
.image-con {
  height: 100%;
}

.content-wrapper,
.content-con {
  position: relative;
  z-index: 1;
}

.page-full {
  width: 100%;
}

.page-width {
  max-width: 1100px;
  margin: auto;
}

figure {
  width: 100%;
  height: 100%;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#bgvideo {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.bgimage {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
}

.bgimage img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-btn {
  background-color: orangered;
  color: #fff;
  font-weight: bold;
  border: 2px solid orangered;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #fff;
  color: orangered;
}
/*# sourceMappingURL=main.css.map */