// CARD 01
.card-1 {
  .product-card-1 {
    text-align: center;

    figure {
      height: auto;
    }

    .product-name,
    .product-pricing {
      margin-bottom: 10px;

      &.onsale {
        .regular-price {
          text-decoration: line-through;
          font-size: 13px;
        }
      }
    }

    .sale-price {
      margin-left: 5px;
    }
  }

  .col {
    border: 1px solid salmon;
    padding: 10px;
  }
}

@media (max-width: 767px) {
}
